.activeProjects {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.activeProjects span {
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
