.flexWrapper {
  display: flex;
}

header {
  background-color: var(--main-bg);
  color: var(--main-color);
  min-height: 100vh;
  min-width: 16rem;
}

main {
  background-color: var(--main-bg);
  height: 100vh;
  width: 100vw;
}
