@import "tailwindcss";

:root {
  --main-bg: rgb(26, 26, 31);
  --secondary-bg: rgb(19, 19, 24);
  --main-color: rgb(57, 127, 188);
  --main-border: rgb(67, 67, 82);
  --color-white: #ffffff;
  --color-dw: #cbcbcb;
  --color-grey: #858585;
  --color-dg: #525252;
  --bg-blue: #78a5ee;
  --bg-db: #28467666;

  --button-blue: #5190f6;
  --button-hover: #80affa;
}
